<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Welcome to Mini Dealmaker!</h1>
    <p class="lead">This is my solution to the Dealmaker coding challenge.</p>
    <hr class="my-4">
    <p>Please take a look aruond the website and let me know what you think.</p>
    <%= link_to 'Sign up!', signup_path, class: "btn btn-lg", id: "home-button"%>
  </div>
</div>
