<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small><%= link_to "Dealmaker", "https://dealmaker.tech", class: "text-white" %> &copy; 2021 </small>
  </div>
</footer>
